body {
    background: #535353;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 340px;               
    background: #000000;
    padding: 25px;             
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

#display {
    width: 100%;
    height: 70px;                
    font-size: 30px;            
    text-align: right;
    margin-bottom: 20px;    
    border: none;
    background: #eaeaea;
    border-radius: 12px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;                 
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    background: #4b4b4b7e;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #357ABD;
}

.operator {
   color: #cc7a00;
   background-color: #4b4b4b7e;
}

.operator:hover {
    background: #000000;
}

.clear {
    background: #4b4b4b7e;
    color: #cc7a00;
}

.clear:hover {
    background: #cc2e25;
    color: #cc7a00;
}

.equals {
    grid-column: span 4;
    background: #cc7a00;
}

.equals:hover {
    background: #1f7a34;
}
